@model List<Restaurant>



@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="restorant-index">

    <h1 class="text-danger">Here are restaurants many many many</h1>
    <div>
        <p>@Model.Count() -First Rest is called-@Model.First().Name</p>
    </div>

    <div class="d-flex flex-wrap justify-content-around">
    @for (int i = 0; i < 20; i++)
    {
        @foreach (Restaurant rest in Model)
        {
            <div class="card my-4" style="width: 18rem;">
                <img src="@rest.MainPic" class="card-img-top" alt="main-pic">
                <div class="card-body">
                    <h5 class="card-title">@rest.Name</h5>
                    <p class="card-text">Места в ресторанта @(string.Join(", ", rest.Places.Select(p => p.Location)))</p>
                    <a href="#" class="btn btn-warning">Подробна информация</a>
                </div>
            </div>
        }

    }
    </div>




</div>