html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

  background-color:blanchedalmond;
}

header.navigation-bar>nav{
    background-color:black;
    
}
header.navigation-bar > nav a {
    color: white !important;
}
